<!DOCTYPE html>
<html>
<head>
    <title>@Page.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link href="~/Content/plugins/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <link href="~/Content/dist/css/adminlte.min.css" rel="stylesheet" />

    @RenderSection("header", required: false)

</head>
<body class="hold-transition sidebar-mini">
 
       <!-- Site wrapper -->
    <div class="wrapper">
        <!-- Navbar -->
        
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
           

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="~/Content/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <a href="#" class="d-block">Alexander Pierce</a>
                    </div>
                </div>

                <!-- SidebarSearch Form -->
                <div class="form-inline">
                    <div class="input-group" data-widget="sidebar-search">
                        <input class="form-control form-control-sidebar" type="search" placeholder="" aria-label="Search">
                       
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                         with font-awesome or any other icon font library -->
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p>
                                    Sản Phẩm
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="@Url.Action("Index","Product")" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Danh sách sản phẩm</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("Index","Categone")" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Loại sản phẩm</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="~/Content/index3.html" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Nhà cung cấp</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("Index","Order")" class="nav-link">
                                <i class="nav-icon fas fa-th"></i>
                                <p>
                                   Hóa đơn
                                    <span class="right badge badge-danger">New</span>
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-copy"></i>
                                <p>
                                    Đơn hàng chờ
                                    
                                    <span class="badge badge-info right">6</span>
                                </p>
                            </a>
                            
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("Index","Users")" class="nav-link">
                                <i class="nav-icon fas fa-chart-pie"></i>
                                <p>
                                   Người dùng
                                  
                                </p>
                            </a>
                            
                        </li>
                        
                        <li class="nav-item">
                            <a href="~/User/Dangxuat" class="nav-link">
                                <i class="nav-icon fas fa-table"></i>
                                <p> Đăng Xuất </p>
                            </a>
                            
                        </li>                                                                                                                                      
                   </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        

        @RenderBody();
        <!-- /.content-wrapper -->

        
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div> 
    <script src="~/Content/plugins/jquery/jquery.min.js"></script>
    <script src="~/Content/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/dist/js/adminlte.min.js"></script>
    <script src="~/Content/dist/js/demo.js"></script>

    @RenderSection("footer", required: false)
</body>
</html>
