@model IEnumerable<HouseWare.Models.Entities.Order>

@{
    ViewBag.Title = "Order";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6">
                        <strong>DANH SÁCH HÓA ĐƠN</strong>
                    </div>
                    <div class="col-md-6 text-right">
                        @Html.ActionLink("Create New", "Create")


                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.PaymentType.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.User.FullName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Date)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Total_money)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.PaymentType.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.User.FullName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Date)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Total_money)
                            </td>
                            <td>
                             @*   @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |*@
                                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                            </td>
                        </tr>
                    }

                </table>            </div>
        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->
</div>
