@model HouseWare.Models.Entities.Product

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <!-- Main content -->
        <section class="content">

            <!-- Default box -->
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">
                            <strong>BẠN CÓ MUỐN XÓA KHÔNG</strong>
                        </div>
                        <div class="col-md-6 text-right">

                            <div class="form-actions no-color">
                                <input type="submit" value="Delete" class="btn btn-default" /> |
                                @Html.ActionLink("Back to List", "Index")
                            </div>

                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <dt>
                        @Html.DisplayNameFor(model => model.Categone.Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Categone.Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Gia)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Gia)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Producer)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Producer)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Available)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Available)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Quantity)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Quantity)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Img)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Img)
                    </dd>

                </div>
            </div>
            <!-- /.card -->

        </section>
        <!-- /.content -->
    </div>
}
    
